@media screen and (min-width: 30em) and (orientation: landscape) {
    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }

    .content {
        border: 1px solid blanchedalmond;
    }

    .side-nav{
        background: #edf2f7;

    }
    a, a:visited {
        color: #30739C;
    }
    #table-of-contents ul {
        list-style: none;
    }
    header{
        border-bottom: 1px solid #ddd;
        background: #2A4E68;
        color: #edf2f7;
    }
    .content-header a, .content-header a:visited{
        color: #edf2f7;
        text-decoration: none;
        padding-right: 1em;
    }
    .content-header{
        padding: 0.5em;
    }

    main{
        padding: 2em;
    }
    .nav-title {
        padding: 1em;
        background: #1f5c87;
        color: #fff;
    }
    .nav-btn {
        float: right;
        background-color:#4882ab;
        padding: 10px 15px 10px 15px;
        margin-top: -10px;
        color: white;
        border: 1px solid #4882ab;
    }
    .nav-btn:hover {
        border: 1px solid white;
    }
    #project-form {
        margin: 3px;
        border: solid 2px white;
        background-color: gainsboro;
        position: relative;
    }

    #project-form a {
        color: red;
    }
    .btn-form-close {
        text-align: right;
        margin-top: -7px;
    }

    .side-nav a {
        text-decoration: none;
    }
    #p-name {
        width: 100%;
        font-size: 1em;
        padding: 5px;
    }
    .form-fields {
        text-align: center;
        padding: 7px;
    }
    .sub-btn {
        line-height: 28px;
        font-size: 14px;
        color: white;
        background-color: #4882ab;
        width: 40%;
        border: 1px solid #4882ab;
        cursor: pointer;
    }
    .sub-btn:hover {
        border: 1px solid white;
    }
    .error {
        border: 1px solid red;
    }
    #msg{
        position: absolute;
        top: 0;
        left: 6px;
        color: red;
    }

    nav ul {
        list-style: none;
    }
    .zen-accordion-menu {
        background: #4d5158;
    }
    .zen-accordion-menu ul {
        /* by default hide all sub menus */
        display: none;
    }
    .zen-accordion-menu li {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .zen-accordion-menu input[type=checkbox] {
        /* hide native checkbox */
        position: absolute;
        opacity: 0;
    }
    .zen-accordion-menu label, .zen-accordion-menu a {
        position: relative;
        display: block;
        padding: 18px 18px 18px 64px;
        background: #4d5158;
        box-shadow: inset 0 -1px #555960;
        color: #ffffff;
        font-size: 1.6rem;
    }
    .no-touch .zen-accordion-menu label:hover, .no-touch .zen-accordion-menu a:hover {
        background: #52565d;
    }
    .zen-accordion-menu label::before, .zen-accordion-menu label::after, .zen-accordion-menu a::after {
        /* icons */
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .zen-accordion-menu label {
        cursor: pointer;
    }
    .zen-accordion-menu label::before, .zen-accordion-menu label::after {
        background-image: url(../img/cd-icons.svg);
        background-repeat: no-repeat;
    }
    .zen-accordion-menu label::before {
        /* arrow icon */
        left: 18px;
        background-position: 0 0;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -moz-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        -o-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }
    .zen-accordion-menu label::after {
        /* folder icons */
        left: 41px;
        background-position: -16px 0;
    }
    .zen-accordion-menu a::after {
        /* image icon */
        left: 5px;
        background: url(../img/cd-icons.svg) no-repeat -48px 0;
    }
    .zen-accordion-menu input[type=checkbox]:checked + label::before {
        /* rotate arrow */
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .zen-accordion-menu input[type=checkbox]:checked + label::after {
        /* show open folder icon if item is checked */
        background-position: -32px 0;
    }
    .zen-accordion-menu input[type=checkbox]:checked + label + ul,
    .zen-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {/* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
        /* show children when item is checked */
        display: block;
    }


    .zen-accordion-menu ul label,
    .zen-accordion-menu ul a {
        background: #35383d;
        box-shadow: inset 0 -1px #41444a;
        padding-left: 10px;
    }
    .no-touch .zen-accordion-menu ul label:hover, .no-touch,
    .zen-accordion-menu ul a:hover {
        background: #3c3f45;
    }
    .zen-accordion-menu > li:last-of-type > label,
    .zen-accordion-menu > li:last-of-type > a,
    .zen-accordion-menu > li > ul > li:last-of-type label,
    .zen-accordion-menu > li > ul > li:last-of-type a {
        box-shadow: none;
    }
    .zen-accordion-menu ul label::before {
        left: 36px;
    }
    .zen-accordion-menu ul label::after,
    .zen-accordion-menu ul a::after {
        left: 59px;
    }
    .zen-accordion-menu ul ul label,
    .zen-accordion-menu ul ul a {
        padding-left: 100px;
    }
    .zen-accordion-menu ul ul label::before {
        left: 54px;
    }
    .zen-accordion-menu ul ul label::after,
    .zen-accordion-menu ul ul a::after {
        left: 77px;
    }
    .zen-accordion-menu ul ul ul label,
    .zen-accordion-menu ul ul ul a {
        padding-left: 118px;
    }
    .zen-accordion-menu ul ul ul label::before {
        left: 72px;
    }
    .zen-accordion-menu ul ul ul label::after,
    .zen-accordion-menu ul ul ul a::after {
        left: 95px;
    }
    @media only screen and (min-width: 600px) {
        .zen-accordion-menu label, .zen-accordion-menu a {
            padding: 10px 0 10px 25px;
            font-size: 0.9rem;
        }
        .zen-accordion-menu label::before {
            left: 5px;
            transition: 0.5s ease-in-out;
        }

        .zen-accordion-menu label::after {
            left: -35px;
            transition: 0.5s ease-in-out;
        }

        .zen-accordion-menu ul label,
        .zen-accordion-menu ul a {
            padding-left: 45px;
        }
        .zen-accordion-menu ul label::before {
            left: 20px;
        }
        .zen-accordion-menu ul label::after,
        .zen-accordion-menu ul a::after {
            left: -77px;
        }
        .zen-accordion-menu ul ul label,
        .zen-accordion-menu ul ul a {
            padding-left: 70px;
        }
        .zen-accordion-menu ul ul label::before {
            left: 72px;
        }
        .zen-accordion-menu ul ul label::after,
        .zen-accordion-menu ul ul a::after {
            left: 45px;
        }
        .zen-accordion-menu ul ul ul label,
        .zen-accordion-menu ul ul ul a {
            padding-left: 154px;
        }
        .zen-accordion-menu ul ul ul label::before {
            left: 96px;
        }
        .zen-accordion-menu ul ul ul label::after,
        .zen-accordion-menu ul ul ul a::after {
            left: 125px;
        }
    }
    .zen-accordion-menu.animated label::before {
        /* this class is used if you're using jquery to animate the accordion */
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }


    /*
    Loader
     */
    .sk-folding-cube {
        margin: 20px auto;
        width: 40px;
        height: 40px;
        position: relative;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

    .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .sk-folding-cube .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: darkorchid;
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    .sk-folding-cube .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }
    .sk-folding-cube .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }
    .sk-folding-cube .sk-cube4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }
    .sk-folding-cube .sk-cube2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .sk-folding-cube .sk-cube3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .sk-folding-cube .sk-cube4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }
    @-webkit-keyframes sk-foldCubeAngle {
        0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        } 25%, 75% {
              -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
              opacity: 1;
          } 90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
    }

    @keyframes sk-foldCubeAngle {
        0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        } 25%, 75% {
              -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
              opacity: 1;
          } 90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
    }

    .sk-folding-cube .sk-cube1:before {
        background-color: darkorchid;
    }
    .sk-folding-cube .sk-cube2:before {
        background-color: blue;
    }
    .sk-folding-cube .sk-cube3:before {
        background-color: darkred;
    }
    .sk-folding-cube .sk-cube4:before {
        background-color: greenyellow;
    }
}
